.map-container,
.listings-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.map-container {
	z-index: 4;
	opacity: 0;
}
.listings-container {
	z-index: 5;
	&.withoutMap {
    width: 100%;
  }
}
@media only screen and (min-width: 40.062em) {
	.map-container,
	.listings-container {
		height: calc(100% - 52px);
		position: relative;
		top: auto;
		left: auto;
		z-index: 5;
	}
	.map-container {
		float: left;
		opacity: 1;
	}
	.listings-container {
		float: right;
	}
}
@media only screen and (min-width: 40.062em) and (max-width: 64em) {
	.map-container,
	.listings-container {
		display: block;
	}
	.map-container {
		width: calc(100% - 45%);
	}
	.listings-container {
		width: 45%;
	}
}
@media only screen and (min-width: 64.062em) {
	.map-container,
	.listings-container {
		display: inline-block;
  		height: calc(100% - 52px);
	}
	.map-container {
		width: calc(100% - 55%);
	}
	.listings-container {
		width: 55%;
	}
}