@function set-heading-background-color($color) {
  @if (lightness($color) > 50) {
    @return #FFFFFF;
  } @else {
    @return #444444;
  }
}
@function set-heading-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333333;
  } @else {
    @return #FFFFFF;
  }
}
$headingBackground: set-heading-background-color($backgroundBase);
$headingText: set-heading-text-color($backgroundBase);

.trigger-dropout {
	box-sizing: border-box;
	display: inline-block;
	padding: 8px 10px;
	font-size: $interfaceFontSize;
	font-weight: $defaultFontBold;
}
